

<h2></h2>


{{form_start(f)}}

{{form_label(f.title,"Book's Title :")}}

{{form_widget(f.title,{'attr':{'class':'form-control'}})}}

{{form_label(f.publicationDate,"Book's Publication Date :")}}

{{form_widget(f.publicationDate,{'attr':{'class':'form-control'}})}}


{{form_label(f.enabled,"Book's Enabled :")}}

{{form_widget(f.enabled,{'attr':{'class':'form-control'}})}}


{{form_end(f)}}


